nav {
  background-color: #333;
  padding: 2%;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 5%;
}
nav ul li a {
  color: aliceblue;
  font-size: 1.125rem;
}
nav ul li a:hover {
  background-color: blueviolet;
  color: #f1f1f1;
}
.boxed-section {
  border: 2px solid #670e9b;
  background-color: #2e163b;
}
body {
  background-color: #14021f;
  color: #f1f1f1;
}
h1 {
  text-align: center;
}
.gallery img {
  width: 40%;
  margin: 10px;
  border-radius: 2%;
}
.gallery {
  text-align: center;
}
